Chatbot AI Web Google Sheets.json
{
  "name": "Chatbot AI Web Google Sheets",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3b5642c1-9315-4f6f-83d0-4cd4a291e9ed",
      "name": "Telegram Trigger",
      "webhookId": "f06c236f-cd34-42d6-8d80-83f2a236de8c",
      "credentials": {
        "telegramApi": {
          "id": "fwS8KRqJydjy21Q9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten pelatihan NF Academy, yang siap menjawab pertanyaan dengan baik sesuai dengan bahasa yang digunakan penanya.\n\nJawablah pertanyaan tentang produk, deskripsi/uraian, biaya/harga, dan tempat/lokasi pelatihan sesuai dengan informasi yang tersedia dalam tool Get row(s) in sheet in google sheets.\n\nJika kamu tidak menemukan informasi produk, harga, dan tempat pelatihan, jangan mengarang jawaban. Berikan jawaban, \"Maaf, saya belum memiliki data yang anda minta. Silakan lihat web nfacademy.id\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8b859767-3a50-400f-a934-d718463440aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "63230931-3059-4e88-9b8d-9131b6a7c29a",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jd44egcEJ2nQ48iO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }} ",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "09a36d1f-52a4-4309-bf19-bde66bcd42f1",
      "name": "Send a text message",
      "webhookId": "bf5ef4f5-05df-48a7-bd74-8e14ac786366",
      "credentials": {
        "telegramApi": {
          "id": "fwS8KRqJydjy21Q9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IbitVRDjqGiDuXsu30l2zcudISy7uQO5ZiJ2zeCvvXQ",
          "mode": "list",
          "cachedResultName": "pelatihan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IbitVRDjqGiDuXsu30l2zcudISy7uQO5ZiJ2zeCvvXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IbitVRDjqGiDuXsu30l2zcudISy7uQO5ZiJ2zeCvvXQ/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        176
      ],
      "id": "949e66a7-0456-491c-8149-9295c212fdde",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dyXc2Ep0YHTVLEDE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "16eaec13-10f6-46e5-83af-247b207745c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "8tFrvMlomE8PK6dk",
  "tags": []
}