Chatbot Web Supebase v2.json
{
  "name": "Chatbot Web Supebase v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1aZbpOEOhW6e7Ukc-KyimHZ5ad74IKP71qLYz4YRKpHk",
          "mode": "list",
          "cachedResultName": "Panduan Skripsi",
          "cachedResultUrl": "https://docs.google.com/document/d/1aZbpOEOhW6e7Ukc-KyimHZ5ad74IKP71qLYz4YRKpHk/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "da750894-dfc6-494d-9d9d-fccc2d4df04a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p1FEHgQFFYp3MaSz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeda5488-6a29-4eca-84c1-126b70ff2703",
              "name": "kevin_file",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a206dcc0-2d80-4473-98f4-acb8a571da56",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "7ded6267-b647-439b-ba5a-64537eee4e35",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents3",
          "mode": "list",
          "cachedResultName": "documents3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "fe44ded6-fa57-49de-9d65-488f484f7aaf",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ltnMCvxMXdd0d0mG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        160
      ],
      "id": "30fe24d1-6c18-49da-b0c8-ddee08a3ece3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "jd44egcEJ2nQ48iO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1216,
        144
      ],
      "id": "59b21bd6-bf93-4737-bd63-5ca11587ec6c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1024,
        176
      ],
      "id": "d17363a4-1906-40f4-b2e2-2e38edacdbad",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.kevin_file }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "a0272289-a867-4723-ad39-b07a40393a0f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p1FEHgQFFYp3MaSz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Halo Guyss!👋 Salam Kenal.\nPerkenalkan Namaku Kevin Dyarga. Aku siap menjawab semua pertanyaanmu terkait tugas akhir, selain itu mohon maaf masih belom bisa.\n\nAda yang bisa kubantu?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        320
      ],
      "id": "9e63fd50-26f7-4bff-a5a6-e35fc1bf4801",
      "name": "When chat message received",
      "webhookId": "181d3342-da5b-4787-80ce-e2001b48908e"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten penulisan ilmiah tugas akhir atau skripsi.\n\nKamu dapat menjawab dengan mengacu pada informasi yang tersedia di data vektor pada Tool \"Supabase Vector Store\" .\n\nJika Informasi tidak tersedia di Tool itu, jawablah \"Mohon maaf, saya belum bisa memberikan informasi tersebut\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        320
      ],
      "id": "ba8c2e3f-592b-4b4b-9787-c690444a1353",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        512
      ],
      "id": "b90777dc-0447-4e1e-9d76-46726fbde014",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jd44egcEJ2nQ48iO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan tentang penulisan ilmiah mahasiswa STT NF",
        "tableName": {
          "__rl": true,
          "value": "documents3",
          "mode": "list",
          "cachedResultName": "documents3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        576,
        432
      ],
      "id": "fcb28576-81d9-4b2a-a85c-5a7194e12d01",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ltnMCvxMXdd0d0mG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        512
      ],
      "id": "c0b24dda-d741-49d1-a92d-c2c273931aa2",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "jd44egcEJ2nQ48iO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1472
      ],
      "typeVersion": 1,
      "id": "554aed34-8fe2-4390-8ac5-a07e6cb49930",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "tableName": "n8n_chat_002"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        512
      ],
      "id": "467bffdb-547c-442b-941c-aa5369e00e6c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8C3sGY5wzaIXULCy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "f25bdca8-f356-4d51-bd75-e5625cfa53e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "QVeizSkK7PKwxI48",
  "tags": []
}