Otomasi Onboarding.json
{
  "name": "Otomasi Onboarding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 733104683,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs/edit#gid=733104683"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "3f69a301-242c-400f-a6c9-a3ba1c13743d",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pIxTY29CC26KiJ84",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d854704-7d26-450e-b7a8-cb55aeb0f78a",
              "name": "first_name",
              "value": "={{ $('Sheet Onboarding Karyawan').item.json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "f52e754a-cbfb-4f1e-bd65-1910697ef463",
              "name": "last_name",
              "value": "={{ $('Sheet Onboarding Karyawan').item.json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "3ff724b7-487d-4b1f-992b-4f01dd65826c",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "497b0ae9-3499-4ef6-86b8-d964aa751221",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "27501c62-9da2-40ed-8dd1-d091ad9fd07d",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "b42340cb-4c8b-4836-b314-bb68a02ee925",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -48
      ],
      "id": "459d5dce-7381-4389-9acb-b295e3423fc4",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 735496725,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axT2OPqbvSSfZS9kSBSSSD6kfKGKPEr-4Ahx9_q1qCs/edit#gid=735496725"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -48
      ],
      "id": "1fff8c96-7806-46fa-aa23-edc01d25ec8a",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RdX1iHvQtNgfwgiy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69ec84f8ab6d762a719206d0",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        496,
        -48
      ],
      "id": "d0696049-2b4c-4e71-9bef-498acaf6d850",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "5nVfWLoTfllzBCLn",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -48
      ],
      "id": "efa16f51-46bd-4dd1-90ab-516909ecc4fb",
      "name": "Gabung jadi 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},  \n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.  \n\nBerikut daftar tugas onboarding Anda: <ul> <li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li> </ul>  \n\nJika ada pertanyaan, reply email ini.  \n\nSalam, \nTim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -48
      ],
      "id": "c5131a8e-827d-43f2-bab2-4cf98cb19a88",
      "name": "Send a message",
      "webhookId": "276d57cb-d3ed-4ccb-bab9-0f13bb0e883d",
      "credentials": {
        "gmailOAuth2": {
          "id": "kcpP4gljpHIqqXfu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "listId": "69eb247abae555311ed0a605",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "id": "c11f2033-dc82-4e28-8a61-0ed35f2caaf7",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "5nVfWLoTfllzBCLn",
          "name": "Trello account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8320848f-ec64-4ae3-b207-3aa5b3e25beb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "PvrcjkhpMMJBAaDh",
  "tags": []
}