Pembuatan Konten Otomatis 2.json
{
  "name": "Pembuatan Konten Otomatis 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a3efcc0-b3c8-48bd-aa08-b4d1f2e8456c",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "beedbf80-f0ed-4444-8c0b-61c79db6aa0e",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "c2d3df98-35ec-4d7f-b0ca-be759aff9821",
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        416
      ],
      "id": "3698aebf-476b-4fda-a486-53861542fbc5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        416
      ],
      "id": "dfa476fa-6c4e-41cd-bd74-b6b8e781d8e3",
      "name": "Membuat Ide Konten"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        256
      ],
      "id": "a143c59e-7342-46ff-a1e4-ac49bcca703d",
      "name": "2.5 fIash",
      "credentials": {
        "googlePalmApi": {
          "id": "R9EnQpB7DAhlwQv4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1504,
        256
      ],
      "id": "c05bf016-cd0e-4a53-bc0f-23a0c4046541",
      "name": "Output LLM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -64
      ],
      "id": "0c0af3a5-cbd6-401a-b2ef-9ffd689cfcad",
      "name": "Output 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[1].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[1].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[1].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[1].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[1].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        96
      ],
      "id": "61a3ad08-bd56-429c-aa32-ec1451cdee7a",
      "name": "Output 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[2].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[2].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[2].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[2].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[2].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        256
      ],
      "id": "370460ac-41aa-4dd9-a28a-2eaab48c62aa",
      "name": "Output 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced750ba-f13e-40f5-977a-e35e208b0abe",
              "name": "time_slot",
              "value": "={{ $json.output[3].time_slot }}",
              "type": "string"
            },
            {
              "id": "48b34c9d-da67-4e17-bc24-cb371224277e",
              "name": "title",
              "value": "={{ $json.output[3].title }}",
              "type": "string"
            },
            {
              "id": "16ef9753-a8c5-4768-9848-dda185de0fd2",
              "name": "platform",
              "value": "={{ $json.output[3].platforms }}",
              "type": "string"
            },
            {
              "id": "cf657efe-db22-42e7-8569-746eb5d1910c",
              "name": "focus",
              "value": "={{ $json.output[3].focus }}",
              "type": "string"
            },
            {
              "id": "57f2f647-71f6-4761-b622-334ebfb2c36b",
              "name": "ide",
              "value": "={{ $json.output[3].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        416
      ],
      "id": "ebe35dd9-b9e1-4726-8d68-78918b85c665",
      "name": "Output  4"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2048,
        336
      ],
      "id": "f4539562-295b-4954-a112-f48aa68ccace",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "1758701386",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platform }}\n\nIde: {{ $json.ide }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        368
      ],
      "id": "8303b22a-f413-4038-945d-1080013ec7f6",
      "name": "Kirim Ide ke Tim",
      "webhookId": "6f7b959f-91ae-445f-a295-aec2be83d29b",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        656
      ],
      "id": "0be16f44-7659-4355-8af5-1037fb72b659",
      "name": "Telegram Trigger",
      "webhookId": "f306a709-4a6c-4d57-92a7-bb262bd52e18",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cfd0e10-f285-4e59-816b-672142b25d6e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        432
      ],
      "id": "b649c28b-cfc9-4062-9d12-5d876cb4adca",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        256
      ],
      "id": "4c7fdb4e-b93c-4cee-beb7-01be25f794d5",
      "name": "Format salah (False)",
      "webhookId": "344961dc-582f-4d28-a91e-ccc0d9b7f5bc",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Systia sedang memproses request Anda, harap tunggu sebentar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        832
      ],
      "id": "1eaf4331-f596-4413-a57e-d85f34fb0b07",
      "name": "Respon Cepat",
      "webhookId": "c5faba3b-7193-4911-bc4f-fd9bc0d50f15",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        976
      ],
      "id": "8520954e-cbc1-4b7c-b98f-b46088a48e22",
      "name": "Get a file",
      "webhookId": "8a10aa78-8500-4f40-b7d0-52471f024721",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2592,
        640
      ],
      "id": "cb785269-ae3d-491f-babe-a4fcdec2c692",
      "name": "Kirim Gambar",
      "webhookId": "280810a6-c0e2-4982-8828-7ff14e19b303",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bb0c7351-48aa-44db-867c-1af41a5845d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772013c2-8697-4b74-943e-226fe212af8a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84225419-f387-44ef-ba8e-4f2f779be83c",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        432,
        640
      ],
      "id": "40768df0-a5bb-4c94-ae63-7aa9d277ce9a",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "#  Proses Membuat Ide Konten",
        "height": 640,
        "width": 2176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -80
      ],
      "id": "51bf2bf0-73e6-412f-8a31-80a1814f73ae",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "##  Proses membuat gambar berdasarkan ide yang dipilih",
        "height": 272,
        "width": 2144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        592
      ],
      "id": "52d70f72-a332-45f7-99b7-ec8b3129a174",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        976
      ],
      "id": "d7298c41-bce2-4736-b60d-8bffe383f710",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        976
      ],
      "id": "5867f7c8-cb4c-42b5-9cae-a659705bc676",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "R9EnQpB7DAhlwQv4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze the image and generate a detailed, cinematic video prompt suitable for Google VEO-3.1. Include:\n- Subject and action (e.g., \"a cat jumping on a sofa\")\n- Setting and background\n- Time of day, lighting, mood\n- Camera movement (e.g., slow zoom, tracking shot)\n- Visual style (e.g., photorealistic, cartoon, cinematic)\n\nKeep it concise (1–2 sentences). Output ONLY the prompt text, no explanation.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        976
      ],
      "id": "5474e7a7-5e06-4f74-918e-2ce09a10cb5f",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "R9EnQpB7DAhlwQv4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "items.forEach(item => {\n  // Pastikan item memiliki field 'data' berupa string base64\n  if (item.json && item.json.data) {\n    const base64String = item.json.data;\n    \n    // Konversi string base64 ke Buffer (binary)\n    const buffer = Buffer.from(base64String, 'base64');\n    \n    // Buat properti binary baru\n    item.binary = {\n      data: {\n        data: buffer,\n        fileName: 'image.jpg', // Ganti sesuai ekstensi asli jika perlu\n        mimeType: 'image/jpeg'\n      }\n    };\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        976
      ],
      "id": "9351bfe7-8792-4288-9c78-eaf197710997",
      "name": "base64 to binary"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        976
      ],
      "id": "665f4c13-17a9-4bfa-8b74-b7dff0d0bf4f",
      "name": "Send a video",
      "webhookId": "3896b5a6-b542-485b-a0e2-ebf680907f04",
      "credentials": {
        "telegramApi": {
          "id": "pBiMlloVYgQe2Njv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Proses membuat video berdasarkan gambar yang dikirim pada langkah diatas",
        "height": 240,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        896
      ],
      "id": "fcfd2331-aba9-4ca2-8be5-c15b6f590db0",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aef80fb-8f15-48d2-8720-631834a6e130",
              "name": "prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        656
      ],
      "id": "f8a57cbd-ce11-4642-86cf-398314f7ecf0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"grok-imagine/text-to-image\",\n    \"input\": {\n      \"prompt\": $('Edit Fields1').item.json.prompt,\n      \"aspect_ratio\": \"3:2\"\n    }\n  })\n}}",
        "options": {}
      },
      "id": "e7db7ce3-8c6e-4ab0-ad75-aec4b0f673d0",
      "name": "Mengirim Image Generation Request ke KIE.AI API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        656
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "07e20148-0109-41c1-a658-8596e0c0263d",
      "name": "Menunggu Proses Generate Gambar",
      "type": "n8n-nodes-base.wait",
      "position": [
        1328,
        656
      ],
      "webhookId": "bb6c2821-9586-44b7-8606-2ee69a77ed75",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields2').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d706a271-f5cc-4eca-a394-cbba05bead66",
      "name": "Mendapatkan Status Generate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1552,
        656
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "db9a5dec-997b-4c3f-9582-37c9bbeb19ff",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "390b2bab-a088-40e9-a36a-fcf3b040c9df",
      "name": "Check Jika Generate Sudah Selesai",
      "type": "n8n-nodes-base.if",
      "position": [
        1776,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        640
      ],
      "id": "bad82328-6ff9-4aae-9f86-e912332c2146",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2384,
        640
      ],
      "id": "9cf3ff8c-047c-48ad-a730-0ad125d2a1ed",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8889b9f-cf2f-45a0-a3a4-b79f32bbb507",
              "name": "api_key",
              "value": "8d4e109cc1a600b727d2ae39f3a4ccd5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        656
      ],
      "id": "44e13230-7369-4dbd-b5b5-67b047552fb9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        640
      ],
      "id": "e3d39045-adc8-456f-b272-9c14c8df9035",
      "name": "Format Result"
    },
    {
      "parameters": {
        "content": "## Nama          : Farhan Ganteng\n## Umur           : 20 th\n## Place           : Jakarta\n## Zodiak        :  Aries\n",
        "height": 224,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        160
      ],
      "id": "a3ecac9b-4090-4770-90a0-a2118c8fae4f",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Ide Konten": {
      "main": [
        [
          {
            "node": "Output 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output  4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5 fIash": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output LLM": {
      "ai_outputParser": [
        [
          {
            "node": "Membuat Ide Konten",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output  4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "base64 to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base64 to binary": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke KIE.AI API": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Kirim Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "854a25d7-3d6c-40bc-8171-d7e70f579440",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "wrBpHwL6xZYwtCBy",
  "tags": []
}