Pencatat Pengeluaran Dari Email.json
{
  "name": "Pencatat Pengeluaran Dari Email",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b5824b31-087f-4072-9eab-b5499ec1f99a",
      "name": "Menunggu dan mengambil email baru",
      "credentials": {
        "imap": {
          "id": "fD2FQjOz0mPX6w1F",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.form }}",
                    "rightValue": "fa567780@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ee47cdaa-4a1b-401d-9fce-f5d9a6aecc60"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05b750b3-7a69-43eb-8057-dcbe9ff6d8bf",
                    "leftValue": "={{ $json.form }}",
                    "rightValue": "mfarhanabdillah28@gmail.com ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9f25941-d5ca-4d1d-9823-6e5fe72c8742",
                    "leftValue": "={{ $json.form }}",
                    "rightValue": "zetcode28@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "b5886ef5-11d0-4332-8e68-15009a0ac71c",
      "name": "Memeriksa Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21d081ca-97e4-4730-9fe2-3e324d4fa320",
              "name": "Tanggal",
              "value": "={{ $('Menunggu dan mengambil email baru').item.json.date }}",
              "type": "string"
            },
            {
              "id": "37df2ba4-d974-4bfd-8d9a-369da608b560",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1].replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "5334fc3e-8247-461f-8d9a-e0c2e6686a0c",
              "name": "Nominal",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -208
      ],
      "id": "45f5e63f-1a3f-43df-8ed6-d2bf893e4657",
      "name": "IDCloudHost"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad81d8a7-e7d7-45fb-8784-ee32558419e4",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "ded0a83c-365e-48d0-bcc3-2a7e2253502d",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total Tarif.*?([\\d\\.]+)/s)?.[1].replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "fce3b415-1aca-403d-b162-9db0ea24f8bd",
              "name": "Nominal",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "f776fe72-4230-4ab8-a679-e3d74b14bc32",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d648e741-3b56-4b8c-b5b5-723693578b20",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "a346ff33-b25d-4da8-a6fe-52b4230c1fd2",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp([\\d\\.]+)/)?.[1].replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "609e5d12-260c-4500-8646-4775deb539a3",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        224
      ],
      "id": "d7d98a11-899f-4744-8c97-95fe96d6b203",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        -16
      ],
      "id": "eeeb89ba-7f7b-4170-bd16-5e0689a9b079",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nQmGjIyl38nhls71PPnd0ZiH2cNpijAJWVn31iAEDyY",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQmGjIyl38nhls71PPnd0ZiH2cNpijAJWVn31iAEDyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQmGjIyl38nhls71PPnd0ZiH2cNpijAJWVn31iAEDyY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        0
      ],
      "id": "08163b03-268e-40e9-b8df-f95cc919a8c5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RdX1iHvQtNgfwgiy",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Menunggu dan mengambil email baru": {
      "main": [
        [
          {
            "node": "Memeriksa Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memeriksa Email": {
      "main": [
        [
          {
            "node": "IDCloudHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IDCloudHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4600c2af-3e0b-4d61-99b2-1a96f80b6621",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "2sIbScuI8AIhq4hO",
  "tags": []
}