SOP AI Agent.json
{
  "name": "SOP AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -16
      ],
      "id": "5f157ee6-7045-4594-b540-df432e004b80",
      "name": "Telegram Trigger",
      "webhookId": "e411d66f-a18a-4851-b020-97b98b16d4a7",
      "credentials": {
        "telegramApi": {
          "id": "hfgRJqn6PvBbzKz5",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86911b7c-af90-41a1-a01b-7689ef151df3",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6f9bcc26-7de8-48a7-92d1-a2b31c6f227a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0263dd34-fee5-4d78-a8cb-0ec151ed916f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6cd50a80-4514-49cc-a779-2d5f56f18032",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8d4a72a4-b683-4da3-9730-23aa79bc2c54",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5194c165-9baa-4b96-b979-2b2e82bced77",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8956fafb-87ef-474e-a4af-ddc9a253b5ca",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e43428cc-1c17-42ca-afaa-1db5bf0e4153",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ce256cc2-9a2e-4510-9e78-a2f92162f1ff",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "010eab18-799b-490c-aba4-e60887875cf8",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -16
      ],
      "id": "f17e308a-2cdc-4556-bf20-67b5b06add66",
      "name": "Memastikan Sesuai Format"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Pertanyaan yang Anda kirimkan tidak sesuai, \nharap gunakan pertanyaan dibawah ini : \n\n1. Bagaimana prosedur reimburesement?\n2. Prosedur pengajuan cuti tahunan?\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        144
      ],
      "id": "993d93d5-c540-4f78-98c2-4cd5a0b95b5e",
      "name": "False Output",
      "webhookId": "afc61d02-2c8a-4e44-9e46-f81ef1d312a6",
      "credentials": {
        "telegramApi": {
          "id": "hfgRJqn6PvBbzKz5",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS : \n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan Pengguna : \n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban Berdasarkan SOP: ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -112
      ],
      "id": "fd528e22-3b05-466a-983b-c0fbbcbe1ee8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        -256
      ],
      "id": "2a53886c-8718-401f-979c-8a7716bf9a78",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "jd44egcEJ2nQ48iO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1g2PWmX7xFYLLOr9OMD22vW4dLTUBOb-SKxb0Ru9o1Cs",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g2PWmX7xFYLLOr9OMD22vW4dLTUBOb-SKxb0Ru9o1Cs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g2PWmX7xFYLLOr9OMD22vW4dLTUBOb-SKxb0Ru9o1Cs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        -256
      ],
      "id": "fc165400-a14b-4f69-b8f7-fe07369ac6d9",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RdX1iHvQtNgfwgiy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -112
      ],
      "id": "f5a0241d-657e-46da-99e6-510d02ca6aea",
      "name": "True Output",
      "webhookId": "4be680d4-9a68-47f9-b069-56d2c049ed85",
      "credentials": {
        "telegramApi": {
          "id": "hfgRJqn6PvBbzKz5",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Memastikan Sesuai Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memastikan Sesuai Format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b423927d-2d5f-40c2-a7c7-263439b20e86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b1dd58ee2ed3ec58599a56b628cfdf30aa70f1e4cc70b047799ef1650afe0eb"
  },
  "id": "p85x7TpueFSneW4t",
  "tags": []
}